html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .title {
  margin-bottom: 10px;
  padding-bottom: 5px;
  width: 30rem;
  font-size: 3rem;
  text-align: center;
  border-bottom: 1px solid;
}
body .title span {
  padding: 0 5px;
  font-size: 3rem;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(113, 113, 113, 0.6);
}
body .console {
  padding: 5px;
  width: 30rem;
  display: inline-block;
  font-family: consolas, monaco, monospace, sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
